<!DOCTYPE html>
<html lang="es">
<head>
	<!--Meta Informations-->
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<!--Site Title-->
	<title>ColDent</title>
	
	<!--Favicons-->	
	<link rel="apple-touch-icon" sizes="60x60" href="assets/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" href="assets/favicon/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="assets/favicon/favicon-16x16.png" sizes="16x16">
	<link rel="manifest" href="assets/favicon/manifest.json">
	<link rel="mask-icon" href="assets/favicon/safari-pinned-tab.svg" color="#5bbad5">
	<link rel="shortcut icon" href="assets/favicon/favicon.ico">
	<meta name="msapplication-config" content="assets/favicon/browserconfig.xml">
	<meta name="theme-color" content="#ffffff">
	
	<!--Style Assets-->
	<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="vendors/fontawesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="vendors/owl/owl.carousel.css">
	
	
	<!--Theme Style-->
	<link rel="stylesheet" href="assets/css/styles.css">
	
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

    <!-- BEGIN JIVOSITE CODE {literal} -->
      <script type='text/javascript'>
        (function(){ var widget_id = '84zD7dXLjt';var d=document;var w=window;function l(){
           var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true;
           s.src = '//code.jivosite.com/script/widget/'+widget_id
           ; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);}
            if(d.readyState=='complete'){l();}else{if(w.attachEvent){w.attachEvent('onload',l);}
            else{w.addEventListener('load',l,false);}}})();
      </script>
  <!-- {/literal} END JIVOSITE CODE -->
  
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-143539867-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-143539867-1');
</script>

		
</head>
<body>
	
<div id="page" class="site row">



<header id="header" class="site-header">
	
	<nav class="navbar navbar-defatult navbar-fixed-top fluid-navbar navbar-style1">
		<div class="container-fluid">
			<div class="navbar-header">
				<a href="/" class="navbar-brand"><img src="assets/icons/logocol3.png" alt="" class="logo-img"></a>
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav" aria-expanded="false">
					<span class="sr-only">Nav Opener</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<div class="collapse navbar-collapse" id="main-nav">
				
				<ul class="navbar-nav nav navbar-right">
                    <li role="presentation" class="dropdown">
                         <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                <ul class="dropdown-menu">
                                    <form class="form-search">
                                        <div class="input-group">
                                             <input class="form-control form-text" maxlength="128" placeholder="Buscar" size="15" type="text" />
                                                <span class="input-group-btn"><button class="btn btn-primary"><i class="fa fa-search fa-lg">&nbsp;</i></button></span>
                                        </div>
                                    </form> 
                                </ul>
                    </li>
					<li class="active"><a href="/">Inicio</a></li>
					<li><a href="/nosotros">Nosotros</a></li>					
					<li><a href="/contacto">Contacto</a></li>
				</ul>                   
                
                <ul class="navbar-nav nav navbar-right">
                    <li role="presentation" class="dropdown">
                         <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                             vita
                                <ul class="dropdown-menu">
                                    <li><a href="#">dienets</a></li> 
                                    <li><a href="#">bloques y discos</a></li>
                                    <li><a href="#">Equipo</a></li>
                                    <li><a href="#">varios</a></li>
                                </ul>
                    </li>
					<li role="presentation" class="dropdown">
                         <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                             Bego
                                <ul class="dropdown-menu">
                                    <li><a href="#">ceras</a></li> 
                                    <li><a href="#">metales</a></li>
                                    <li><a href="#">reestimientos</a></li>
                                    <li><a href="#">varios</a></li>
                                </ul>
                    </li>					
					<li role="presentation" class="dropdown">
                         <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                             Ivoclar
                                <ul class="dropdown-menu">
                                    <li><a href="#">ceras</a></li> 
                                    <li><a href="#">metales</a></li>
                                    <li><a href="#">reestimientos</a></li>
                                    <li><a href="#">varios</a></li>
                                </ul>
                    </li>	
                    <li role="presentation" class="dropdown">
                         <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                             Zhermack
                                <ul class="dropdown-menu">
                                    <li><a href="#">ceras</a></li> 
                                    <li><a href="#">metales</a></li>
                                    <li><a href="#">reestimientos</a></li>
                                    <li><a href="#">varios</a></li>
                                </ul>
                    </li>
                    <li role="presentation" class="dropdown">
                         <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            Yety
                                <ul class="dropdown-menu">
                                    <li><a href="#">ceras</a></li> 
                                    <li><a href="#">metales</a></li>
                                    <li><a href="#">reestimientos</a></li>
                                    <li><a href="#">varios</a></li>
                                </ul>
                    </li>	
                    <li role="presentation" class="dropdown">
                         <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            Dentona
                                <ul class="dropdown-menu">
                                    <li><a href="#">ceras</a></li> 
                                    <li><a href="#">metales</a></li>
                                    <li><a href="#">reestimientos</a></li>
                                    <li><a href="#">varios</a></li>
                                </ul>
                    </li>	
                    <li role="presentation" class="dropdown">
                         <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            WyH
                                <ul class="dropdown-menu">
                                    <li><a href="#">ceras</a></li> 
                                    <li><a href="#">metales</a></li>
                                    <li><a href="#">reestimientos</a></li>
                                    <li><a href="#">varios</a></li>
                                </ul>
                    </li>	
                    <li role="presentation" class="dropdown">
                         <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            Renfert
                                <ul class="dropdown-menu">
                                    <li><a href="#">ceras</a></li> 
                                    <li><a href="#">metales</a></li>
                                    <li><a href="#">reestimientos</a></li>
                                    <li><a href="#">varios</a></li>
                                </ul>
                    </li>		
				</ul> 

			</div>
            			
		</div>
        
	</nav>
	
</header>

<main id="contents" class="site-contnts">
	
	<!--Slider-->
	<div class="home-slider">
		<div class="item" data-slide="assets/images/portada.jpg">
			<div class="container">
				<div class="row">
					<div class="col-sm-11 col-md-8 col-lg-7">
						<h2 class="slide-title">Los Mejores <strong>Productos</strong> En <strong>Un</strong>  Solo <strong>Lugar</strong></h2>
						<p>Encuentra  las mejores marcas y todos sus productos.</p>
						<a href="/productos" class="btn btn-primary">Ver Productos</a>
					</div>
				</div>
			</div>
		</div>
		<div class="item" data-slide="assets/images/394.jpg">
			
		</div>
    <div class="item" data-slide="assets/images/odon1.png">
      
    </div>
	</div>
	
	<!--barra buscar
	<form class="row domain-search bg-black" action="/coldent/">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="input-group">
						<input type="search" class="form-control">
						<span class="input-group-addon"><input type="submit" value="Buscar" class="btn btn-primary"></span>
					</div>	
				</div>
			</div>
		</div>
	</form>
	-->
	
<div class="container">

            <div class="row">               
                <!-- /.col-lg-3 -->                
                <div class="col-lg-12">                    
                    <div class="row">
                        {{#each list}}
                        <div class="col-sm-6 col-md-4 why-to-choose text-center">
                            <div class="thumbnail" style="box-shadow: -16px -5px 27px -22px rgba(0,0,0,0.75);">                                
                                <img src="{{this.imageUrl}}" alt="...">
                                <div class="caption">
                                    <h5 style="font-weight: bold;">{{this.nombre}}</h5>                                    
                                    <p><a href="/productos" class="btn btn-ls btn-primary" >Ver Mas</a></p>
                                </div>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    
    <!--recomendaciones
    <section class="row c2a-plan">
      <div class="container arriba">
            <div class="row  text-center">
        <h2 class="h1 c2ap-title"><strong>TESTIMONIOS</strong></h2>
      </div>
            <div id="customer-testimonial" class="customer-testimonial carousel slide" data-ride="carousel">
                <!-- Indicators 
                <ol class="carousel-indicators ct-indicator imgv">
                    <li data-target="#customer-testimonial" data-slide-to="0"><img src="assets/images/ct1.jpg" alt="Customer Image"></li>
                    <li data-target="#customer-testimonial" data-slide-to="1" class="active"><img src="assets/images/ct3.jpg" alt="Customer Image"></li>
                    <li data-target="#customer-testimonial" data-slide-to="2"><img src="assets/images/ct2.jpg" alt="Customer Image"></li>
                </ol>

                <!-- Wrapper for slides 
                <div class="carousel-inner" role="listbox">
                    <div class="item carousel-item" data-slide-no="0">
                        <p><em>Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.</em></p>
                        <h3 class="ct-customer-name colortitulo">Jane Sanders</h3>
                        <h5 class="ct-customer-title colortitulo">CEO, Theme Designer</h5>
                    </div>
                    <div class="item carousel-item active" data-slide-no="1">
                        <p><em>Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.</em></p>
                        <h3 class="ct-customer-name colortitulo">Jane Sanders</h3>
                        <h5 class="ct-customer-title colortitulo">CEO, Theme Designer</h5>
                    </div>
                    <div class="item carousel-item" data-slide-no="2">
                        <p><em>Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.</em></p>
                        <h3 class="ct-customer-name colortitulo">Jane Sanders</h3>
                        <h5 class="ct-customer-title colortitulo">CEO, Theme Designer</h5>
                    </div>
                </div>
            </div>
            <!-- Indicators 
            <ul class="carousel-indicators ct-indicator dotv">
                <li data-target="#customer-testimonial" data-slide-to="0" class="myCarousel-target"></li>
                <li data-target="#customer-testimonial" data-slide-to="1" class="myCarousel-target active"></li>
                <li data-target="#customer-testimonial" data-slide-to="2" class="myCarousel-target"></li>
            </ul>
        </div> 
       
    </section>
    -->
    <!--Clients-->
    <section class="row client-logos">
        <div class="container">            
            <div class="row section-title text-center">
				<h2>Marcas Representantes</h2>
			</div>
            <div class="row" style="margin: auto">
                <div class="col-sm-1 client-logo" ><a href="/" data-toggle="tooltip" data-placement="top" title="Vita"><img src="assets/images/marca1.png" alt="Adobe"></a></div>
                <div class="col-sm-1 client-logo"><a href="/" data-toggle="tooltip" data-placement="top" title="keystone"><img src="assets/images/marca2.png" alt="Huawei" ></a></div>
                <div class="col-sm-1 client-logo"><a href="/" data-toggle="tooltip" data-placement="top" title="Zhermack"><img src="assets/images/marca3.png" alt="One Plus" ></a></div>
                <div class="col-sm-1 client-logo"><a href="/" data-toggle="tooltip" data-placement="top" title="Yeti"><img src="assets/images/marca4.png" alt="Mitsubishi" ></a></div>
                <div class="col-sm-1 client-logo"><a href="/" data-toggle="tooltip" data-placement="top" title="Bego"><img src="assets/images/marca5.png" alt="Samsung" ></a></div>
                <div class="col-sm-1 client-logo"><a href="/" data-toggle="tooltip" data-placement="top" title="Protechno"><img src="assets/images/marca6.png" alt="Under Armour" ></a></div>
                <div class="col-sm-1 client-logo"><a href="/" data-toggle="tooltip" data-placement="top" title="Shofu"><img src="assets/images/marca7.png" alt="Under Armour"></a></div>
                <div class="col-sm-1 client-logo"><a href="/" data-toggle="tooltip" data-placement="top" title="Ivoclar Vivadent"><img src="assets/images/marca8.png" alt="Under Armour" ></a></div>
            </div>
        </div>
    </section>
	
</main>

<!--Footer-->
<footer id="footer" class="site-footer">
    <!--Footer Top-->
    <section class="row site-footer-top">
        <div class="container">
            <div class="row">
                <div class="media">
                    <div class="col-sm-3 media-left">
                        <a href="/" class="media-object"><img src="assets/icons/logocol2.png" alt="Coldent Logo"></a>
                    </div>
                    <div class="col-sm-9 media-body">
                        <p>Todos los derechos reservados por Coldent.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

 <section class="row site-footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 widget-footer">
                    <h4 class="widget-title">Enlaces</h4>
                    <div class="row widget-content">
                        <ul class="menu">
                            <li><a href="index.html">Inicio</a></li>
                            <li><a href="blog.html">Nosotros</a></li>
                            <li><a href="blog-post.html">Productos</a></li>
                            <li><a href="contact.html">Contacto</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 widget-footer">
                    <h4 class="widget-title">SÍGUENOS</h4>
                    <div class="row widget-content">
                        <ul class="list-unstyled fsocial">
                           <li><a href="https://www.instagram.com/coldent_sas" target="_blank"><img src="assets/icons/insta.png"></a></li>
                            <li><a href="https://www.facebook.com/coldentsas" target="_blank"><img src="assets/icons/face.png"></a></li>
                            <li><a href="https://wa.me/573204788610" target="_blank"><img src="assets/icons/whats.png"></a></li>
                        </ul>
                    </div>
                </div>
                
            </div>
        </div>
    </section>   
</footer>

</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="vendors/jquery-2.2.0.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
<script src="vendors/owl/owl.carousel.min.js"></script>
<script src="vendors/mcustomscrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="vendors/isotope.pkgd.min.js"></script>
<script src="vendors/imagesloaded.pkgd.min.js"></script>
<!--Theme JS-->
<script src="assets/js/hostpro.js"></script>
</body>
</html>