<!DOCTYPE html>
<html lang="es">

<head>
    <!--Meta Informations-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--Site Title-->
    <title>Productos-ColDent</title>

    <!--Favicons-->
    <link rel="apple-touch-icon" sizes="60x60" href="assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="assets/favicon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="assets/favicon/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="assets/favicon/manifest.json">
    <link rel="mask-icon" href="assets/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="assets/favicon/favicon.ico">
    <meta name="msapplication-config" content="assets/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <!--Style Assets-->
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="vendors/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="vendors/owl/owl.carousel.css">
    <link rel="stylesheet" href="vendors/magnific/magnific-popup.css">
    <link rel="stylesheet" href="vendors/bootstrap-select/css/bootstrap-select.min.css">


    <!--Theme Style-->
    <link rel="stylesheet" href="assets/css/styles.css">

    <!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

    <!-- BEGIN JIVOSITE CODE {literal} -->
    <script type='text/javascript'>
        (function () {
            var widget_id = '84zD7dXLjt'; var d = document; var w = window; function l() {
                var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true;
                s.src = '//code.jivosite.com/script/widget/' + widget_id
                    ; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);
            }
            if (d.readyState == 'complete') { l(); } else {
                if (w.attachEvent) { w.attachEvent('onload', l); }
                else { w.addEventListener('load', l, false); }
            }
        })();
    </script>
    <!-- {/literal} END JIVOSITE CODE -->

    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-143539867-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-143539867-1');
</script>


</head>

<body>

    <header>

        <nav class="navbar navbar-defatult navbar-fixed-top fluid-navbar navbar-style1">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a href="/" class="navbar-brand"><img src="assets/icons/logocol3.png" alt="" class="logo-img"></a>
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav"
                        aria-expanded="false">
                        <span class="sr-only">Nav Opener</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="main-nav">
                    <ul class="nav navbar-nav navbar-right cart-nav">
                    </ul>
                    <ul class="navbar-nav nav navbar-right">
                        <li role="presentation" class="dropdown">
                         <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                <ul class="dropdown-menu">
                                    <form class="form-search">
                                        <div class="input-group">
                                             <input class="form-control form-text" maxlength="128" placeholder="Buscar" size="15" type="text" />
                                                <span class="input-group-btn"><button class="btn btn-primary"><i class="fa fa-search fa-lg">&nbsp;</i></button></span>
                                        </div>
                                    </form> 
                                </ul>
                         </li>
                        <li><a href="/">Inicio</a></li>
                        <li><a href="/nosotros">Nosotros</a></li>                        
                        <li><a href="/contacto">Contacto</a></li>

                    </ul>
                    <ul class="navbar-nav nav navbar-right">
                    <li role="presentation" class="dropdown">
                         <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                             vita
                                <ul class="dropdown-menu">
                                    <li><a href="#">dienets</a></li> 
                                    <li><a href="#">bloques y discos</a></li>
                                    <li><a href="#">Equipo</a></li>
                                    <li><a href="#">varios</a></li>
                                </ul>
                    </li>
					<li role="presentation" class="dropdown">
                         <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                             Bego
                                <ul class="dropdown-menu">
                                    <li><a href="#">ceras</a></li> 
                                    <li><a href="#">metales</a></li>
                                    <li><a href="#">reestimientos</a></li>
                                    <li><a href="#">varios</a></li>
                                </ul>
                    </li>					
					<li role="presentation" class="dropdown">
                         <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                             Ivoclar
                                <ul class="dropdown-menu">
                                    <li><a href="#">ceras</a></li> 
                                    <li><a href="#">metales</a></li>
                                    <li><a href="#">reestimientos</a></li>
                                    <li><a href="#">varios</a></li>
                                </ul>
                    </li>	
                    <li role="presentation" class="dropdown">
                         <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                             Zhermack
                                <ul class="dropdown-menu">
                                    <li><a href="#">ceras</a></li> 
                                    <li><a href="#">metales</a></li>
                                    <li><a href="#">reestimientos</a></li>
                                    <li><a href="#">varios</a></li>
                                </ul>
                    </li>
                    <li role="presentation" class="dropdown">
                         <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            Yety
                                <ul class="dropdown-menu">
                                    <li><a href="#">ceras</a></li> 
                                    <li><a href="#">metales</a></li>
                                    <li><a href="#">reestimientos</a></li>
                                    <li><a href="#">varios</a></li>
                                </ul>
                    </li>	
                    <li role="presentation" class="dropdown">
                         <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            Dentona
                                <ul class="dropdown-menu">
                                    <li><a href="#">ceras</a></li> 
                                    <li><a href="#">metales</a></li>
                                    <li><a href="#">reestimientos</a></li>
                                    <li><a href="#">varios</a></li>
                                </ul>
                    </li>	
                    <li role="presentation" class="dropdown">
                         <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            WyH
                                <ul class="dropdown-menu">
                                    <li><a href="#">ceras</a></li> 
                                    <li><a href="#">metales</a></li>
                                    <li><a href="#">reestimientos</a></li>
                                    <li><a href="#">varios</a></li>
                                </ul>
                    </li>	
                    <li role="presentation" class="dropdown">
                         <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            Renfert
                                <ul class="dropdown-menu">
                                    <li><a href="#">ceras</a></li> 
                                    <li><a href="#">metales</a></li>
                                    <li><a href="#">reestimientos</a></li>
                                    <li><a href="#">varios</a></li>
                                </ul>
                    </li>		
				</ul> 

                </div>
            </div>
        </nav>

        <!--Page Cover-->
        <section class="row page-cover" data-slide="assets/images/portada2.png">
            <div class="container">
                <h2 class="this-title">Productos</h2>
            </div>
        </section>

    </header>

    <!--barra buscar
    <form class="row domain-search bg-black" action="#">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="input-group">
                        <input type="search" class="form-control">
                        <span class="input-group-addon"><input type="submit" value="Buscar"
                                class="btn btn-primary"></span>
                    </div>
                </div>
            </div>
        </div>
    </form>
    -->

    <main id="contents" class="site-contnts">

        <div class="container">

            <div class="row">

                
                <!-- /.col-lg-3 -->
                <div class="col-lg-12">
                    <div class="row">
                        {{#each productsByBrand}}
                        <div class="col-sm-6 col-md-3 why-to-choose text-center">
                            <div class="thumbnail" style="box-shadow: -16px -5px 27px -22px rgba(0,0,0,0.75);">                                
                                <img src="{{this.imageUrl}}" alt="...">
                                <div class="caption">
                                    <h5 style="font-weight: bold;">{{this.title}}</h5>                                    
                                    <p><a href="#" class="btn btn-ls btn-primary" data-toggle="modal"
                                            data-target="#largeModal{{this.idModal}}">Ver Mas</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="modal fade" id="largeModal{{this.idModal}}" tabindex="-1" role="dialog" aria-labelledby="largeModal"
                            aria-hidden="true">
                            <div class="modal-dialog modal-ls">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal"
                                            aria-hidden="true">&times;</button>
                                        <h4 class="modal-title" id="myModalLabel">{{this.title}}</h4>
                                    </div>
                                    <div class="col-lg-12 modal-body">
                                        <div class=" row">
                                            <div class="col-sm-6 col-md-6" style="text-align:center">
                                                 <img src="{{this.imageUrl}}" alt="" >
                                            </div>
                                            <div class="col-sm-6 col-md-6" style="text-align: justify">
                                                 <h5>{{this.shortDescription}}</h5>
                                            </div>
                                        
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default"
                                            data-dismiss="modal">Cerrar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{/each}}
                        <!-- /modal-->                       
    
                        

                        <!-- /modal -->
                    </div>
                    <!-- /.row -->

                </div>
                <!-- /.col-lg-9 -->

            </div>
            <!-- /.row -->

        </div>
        <!-- /.container -->

    </main>

    <!--Footer-->
    <footer id="footer" class="site-footer">
        <!--Footer Top-->
        <section class="row site-footer-top">
            <div class="container">
                <div class="row">
                    <div class="media">
                        <div class="col-sm-3 media-left">
                            <a href="/" class="media-object"><img src="assets/icons/logocol2.png"
                                    alt="Coldent Logo"></a>
                        </div>
                        <div class="col-sm-9 media-body">
                            <p>Todos los derechos reservados por Coldent. </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="row site-footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 widget-footer">
                        <h4 class="widget-title">Enlaces</h4>
                        <div class="row widget-content">
                            <ul class="menu">
                                <li><a href="index.html">Inicio</a></li>
                                <li><a href="blog.html">Nosotros</a></li>
                                <li><a href="blog-post.html">Productos</a></li>
                                <li><a href="contact.html">Contacto</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6 widget-footer">
                        <h4 class="widget-title">SÍGUENOS</h4>
                        <div class="row widget-content">
                            <ul class="list-unstyled fsocial">
                                <li><a href="https://www.instagram.com/coldent_sas" target="_blank"><img
                                            src="assets/icons/insta.png"></a></li>
                                <li><a href="https://www.facebook.com/coldentsas" target="_blank"><img
                                            src="assets/icons/face.png"></a></li>
                                <li><a href="https://wa.me/573204788610" target="_blank"><img
                                            src="assets/icons/whats.png"></a></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </footer>

    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="vendors/jquery-2.2.0.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="vendors/owl/owl.carousel.min.js"></script>
    <script src="vendors/mcustomscrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="vendors/magnific/jquery.magnific-popup.min.js"></script>
    <script src="vendors/isotope.pkgd.min.js"></script>
    <script src="vendors/imagesloaded.pkgd.min.js"></script>
    <script src="vendors/form-validator/jquery.form.js"></script>
    <script src="vendors/form-validator/jquery.validate.min.js"></script>
    <script src="vendors/waypoint/waypoints.min.js"></script>
    <script src="vendors/couterup/jquery.counterup.min.js"></script>
    <script src="vendors/bootstrap-select/js/bootstrap-select.min.js"></script>
    <!--Theme JS-->
    <script src="assets/js/hostpro.js"></script>
</body>

</html>